@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

@layer components {
  
  .table-style-th{
      @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
  }
    
  .table-style-td{
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500
}
  .btn-style{
    @apply py-[2px] px-[20px] rounded-md 
}
 
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #5dd6df;
  border: 1px solid #000;
}

.scroll::-webkit-scrollbar{
  width: 5px;
  color:rebeccapurple ;
}